apiVersion: v1
kind: Secret
metadata:
  name: portfolio-tax-app-backend
  namespace: portfolio-tax-app
type: Opaque
stringData:
  DATABASE_URL: postgres://portfolio:REPLACE_WITH_STRONG_DB_PASSWORD@postgres.database.svc.cluster.local:5432/portfolio?sslmode=disable
  COINGECKO_API_KEY: ""
