apiVersion: v1
kind: Secret
metadata:
  name: spend-app-backend
  namespace: spend-app
type: Opaque
stringData:
  PORT: "8000"
  JWT_SECRET: REPLACE_WITH_STRONG_JWT_SECRET
  DATABASE_URL: postgres://spend_user:REPLACE_WITH_STRONG_DB_PASSWORD@spend-app-postgres:5432/spend_app?sslmode=disable
  SMTP_HOST: smtp-relay.brevo.com
  SMTP_PORT: "587"
  SMTP_USERNAME: REPLACE_WITH_BREVO_SMTP_LOGIN
  SMTP_PASSWORD: REPLACE_WITH_BREVO_SMTP_KEY
  SMTP_FROM_EMAIL: REPLACE_WITH_VERIFIED_SENDER_EMAIL
  SMTP_FROM_NAME: Spend App
