apiVersion: v1
kind: Secret
metadata:
  name: spend-app-backend
  namespace: spend-app
type: Opaque
stringData:
  PORT: "8000"
  JWT_SECRET: REPLACE_WITH_STRONG_JWT_SECRET
  DATABASE_URL: postgres://spend_user:REPLACE_WITH_STRONG_DB_PASSWORD@spend-app-postgres:5432/spend_app?sslmode=disable
